---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Title from '../components/Title.astro';
import Page from '../components/Page.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Title />
		<Page gradient='from-[#13151a] to-blue-900' color='bg-blue-900'>
			<h1>Test</h1>
			<p>This is a test</p>
		</Page>
		<Page gradient='from-blue-900 to-fuchsia-900' color='bg-fuchsia-900'>
			<h1>Test</h1>
			<p>This is a test</p>
		</Page>
		<div class="h-24 w-full bg-gradient-to-b from-fuchsia-900 to-[#13151a]"/>
	</main>
</Layout>

<style>
	main {
		max-width: 100%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
