---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import Page from '../components/Page.astro';
import Card from '../components/Card.astro';
import PersonCard from '../components/PersonCard.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Title />
		<Page gradient='from-[#13151a] to-blue-900 flex flex-row justify-center items-center' color='bg-blue-900'>
			<h1>Main Add-Ons</h1>
			<div class="flex flex-row gap-8 items-center justify-center">
				<Card title='Cloud Storage' img='/public/cloud.png'/>
				<Card title='E-Sim' img='/public/sim.png'/>
				<Card title='Wireless Charging' img='/public/charging.jpg'/>
			</div>	
		</Page>
		<Page gradient='from-blue-900 to-cyan-800' color='bg-cyan-800'>
			<h1>Test</h1>
			<p>This is a test</p>
		</Page>
		<Page gradient='from-cyan-800 to-indigo-900' color='bg-indigo-900'>
			<h1>AYE-Team</h1>
			<div class="flex justify-center items-center gap-20">
				<PersonCard name="Ael" image='/public/Ael.jpeg'  role='Developer' />
				<PersonCard name="Yannick"  image='/public/Yannick.jpeg'  role='Motivation' />
				<PersonCard name="Evan"  image='/public/Evan.jpeg' role='Developer'/>
			</div>
		</Page>
		<div class="h-24 w-full bg-gradient-to-b from-fuchsia-900 to-[#13151a]"/>
	</main>
</Layout>

<style>
	main {
		max-width: 100%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
