---
interface Props {
    title: string;
    img: string;
}

const { title, img }: Props = Astro.props;
---

<li class="link-card shadow-black shadow-md min-w-96 h-40 p-8">
		<p class='text-3xl p-5' >
			{title}
        </p>
		{img && <img class="h-20 w-20 p-2" src={img} alt={title}/>}
</li>
<style>
	.link-card {
		display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
		background-color: #23262d;
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
</style>