---
interface Props {
    gradient: string;
    color: string;
}

const { color, gradient }: Props = Astro.props;
---

<div class="h-screen">
    <div class={"h-24 w-full bg-gradient-to-b " + gradient}/>
    <div class={"w-full h-[calc(100vh-6rem)] pt-16 " + color}>
        <slot/>
    </div>
</div>